{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<p id="back_info" class="hint">一年之后，您是{{ age }}岁，在{{ city_later }}生活</p>
<br>
<p>请您想象任意一个在一年后发生的单独事件</p>
<br>
<p>这个事件应当：</p>
<ol>
    <li>有明确的发生时间与地点</li>
    <li>持续时间不超过24小时</li>
</ol>
<br>
<p>例如：</p>
<ul>
    <li><strong>12月末某一天</strong>，导师在<strong>办公室</strong>告诉我，研究的进展很顺利，必能正常毕业</li>
</ul>
<br>
<p>请您用一句话描述该事件的大致内容</p>
{% formfield player.short_dscp %}

<div class="next_button_after">{% next_button %}</div>

{% block practice_script %}
<script>
    setTimeout(show_button, 15000);

    function show_button() {
        let next_button = document.querySelector('.next_button_after');
        next_button.style.display = 'block';
    }
</script>

{% endblock %}

{% endblock %}
