{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<p class="title"><strong>No. {{ round_number }}</strong></p>
<br>
<p id="back_info" class="hint">一年前，您是{{ age }}岁，在{{ city_before }}生活</p>
<br>
<p>请您回忆一个发生在一年前的单独事件，在事件中：</p>
<p id="emo_dscp" class="hint">{{ emo_dscp }}</p>
<br>
<p>这个事件应当：</p>
<ol>
    <li>有明确的发生地点与时间</li>
    <li>持续时间不超过24小时</li>
    <li>尽量与本实验过程中回忆的其他事件无关</li>
</ol>
<br>
<p>请您用一句话描述该事件的大致内容</p>
{% formfield player.short_dscp %}

<p>该事件的具体发生时间是（尽可能具体到年/月/日）</p>
{% formfield player.exact_time %}

<div class="next_button_after">{% next_button %}</div>

{% block main_script %}
<script>
    setTimeout(show_button, 30000);

    function show_button() {
        let next_button = document.querySelector('.next_button_after');
        next_button.style.display = 'block';
    }
</script>

{% endblock %}

{% endblock %}
